.weatherApp {
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
body {
  background: url(SCPcloudy.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  color: #f2f1e7;
  text-align: center;
  font-family: "Mali", cursive;
  font-size: 70px;
}
h2 {
  color: #f2f1e7;
  font-size: 40px;
  text-align: center;
  margin-top: 90px;
  font-family: "Mali", cursive;
  margin: 5px 0 0 5px;
}
h4 {
  color: #f2f1e7;
  text-align: center;
  font-family: "Mali", cursive;
  font-size: 20px;
}
.temp {
  color: #f2f1e7;
  text-align: center;
  display: block;
  font-size: 60px;
  font-family: "Mali", cursive;
}
.weather-temperature {
  font-family: "Mali", cursive;
  justify-content: center;
  margin: 5px 5px;
  font-size: 20px;
}
.weather-temperature .active {
  color: #f2f1e7;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .passive {
  color: #915b4a;
  cursor: pointer;
  text-decoration: none;
}
.cloud {
  color: #f2f1e7;
  text-align: center;
  margin: 1px 10px 30px 10px;
  text-transform: capitalize;
  font-family: "Mali", cursive;
}
.weathericon {
  size: 90px;
  position: relative;
}

.wind {
  position: absolute;
  bottom: 20px;
  left: 200px;
  color: white;
  font-family: "Mali", cursive;
  font-size: 16px;
}
.humid {
  color: white;
  font-family: "Mali", cursive;
  position: absolute;
  bottom: 20px;
  right: 200px;
  font-size: 16px;
}
.codedbyme {
  font-size: 15px;
  max-width: 300px;
  margin: 40px auto;
  font-family: "Mali", cursive;
  padding: 9px;
  text-align: center;
  display: block;
  color: wheat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.codedbyme:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #915b4a;
}
.submitbutton {
  background-color: #f2f1e7;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 17px;
}
.submitbutton:hover {
  background-color: #915b4a;
  font-size: 19px;
  transition: 300ms ease-in-out;
}
input[type="search"] {
  background-color: #f2f1e7;
  border-color: rgba(255, 255, 255, 0.2);
  font-family: "Mali", cursive;
  border-radius: 15px;
  width: 200px;
}

input[type="button"] {
  background-color: #f2f1e7;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.2);
  margin-left: 5px;
  font-family: "Mali", cursive;
}
input[type="button"]:hover {
  background-color: #915b4a;
  font-size: 17px;
  transition: 300ms ease-in-out;
  color: #f2f1e7;
}
.weather-temperature .units {
  color: #f2f1e7;
  font-size: 10px;
  top: 10px;
  margin: 15px 0 0 5px;
}

.weatherFCtemp {
  color: #f2f1e7;
  font-family: "Mali", cursive;
  font-size: 19px;
}
.card {
  display: flex;
  justify-content: center;
  color: #f2f1e7;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  max-width: 90px;
  padding: 5px;
  border-radius: 15px;
  font-family: "Mali", cursive;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #915b4a;
  transition: 300ms ease-in-out;
}
.weatherFChighest {
  font-size: 22px;
}
.opensource {
  color: #f2f1e7;
}
