.weatherApp {
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
body {
  background: url(SCPcloudy.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  color: #f2f1e7;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 70px;
}
h2 {
  color: #f2f1e7;
  font-size: 35px;
  display: block;
  text-align: center;
  margin: 5px 0 0 5px;
}
h4 {
  color: #f2f1e7;
  text-align: center;
}
.temp {
  color: #f2f1e7;
  text-align: center;
  font-size: 40px;
}
.weather-temperature {
  display: block;
  text-align: center;
  position: relative;
}
.cloud {
  color: white;
  display: block;
  text-align: center;
}
.weathericon {
  font-size: 45px;
  display: block;
  text-align: center;
}
.HL {
  color: white;
}
.codedbyme {
  font-size: 15px;
  max-width: 300px;
  margin: 40px auto;
  padding: 9px;
  text-align: center;
  display: block;
  color: wheat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
input[type="submit"] {
  background-color: #f2f1e7;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.2);
}
input[type="search"] {
  background-color: #f2f1e7;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.2);
}

input[type="button"] {
  background-color: #f2f1e7;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.2);
  margin-left: 5px;
}
.weather-temperature .units {
  color: #f2f1e7;
  font-size: 10px;
  top: 10px;
  margin: 15px 0 0 5px;
}
